{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <div class="col-xs-12">
        <h2><a href="{% url 'list:details:index' list_id=list.id %}">{{ list.title }}</a></h2>
        <h4>{% trans 'Search music on Youtube' %}:</h4>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-block btn-primary">{% trans 'Search' %}</button>
            {% endbuttons %}
        </form>
        {% if yt_results %}
            {% for result in yt_results %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-3 col-md-4">
                                <img class="img-responsive" src="{{ result.snippet.thumbnails.high.url }}">
                            </div>
                            <div class="col-lg-9 col-md-8">
                                <h4>{{ result.snippet.title }}</h4>
                                <p>{{ result.snippet.description }}</p>
                                <p><a href="https://www.youtube.com/watch?v={{ result.id.videoId }}" target="_blank" class="btn btn-primary">{% trans 'Preview' %}</a> <a href="{% url 'list:details:add_a_yt_music' list_id=list.id yt_id=result.id.videoId %}" class="btn btn-lg btn-warning">{% trans 'Add Music' %}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}