{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <div class="col-xs-12">
        <h1>{% trans 'Lists' %}</h1>
        <hr>
    </div>
    {% for list in dj.lists_available %}
        <div class="col-lg-4 col-md-6">
            <a href="{% url 'list:details:index' list_id=list.id %}" class="no-text-decoration">
                <div class="panel {% if list in dj.lists.all %}panel-success{% else %}panel-default{% endif %}">
                    <div class="panel-body">
                        <h4>{{ list.title }}</h4>
                        <p>{% trans 'owner' %}: {{ list.user.first_name }}</p>
                    </div>
                    <div class="panel-heading">
                        <div class="text-center">{% if list.public %}{% trans 'Public' %}{% else %}{% trans 'Private' %}{% endif %}</div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}