{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-12">
                <h1>{% trans 'Create Music List' %}</h1>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">{% trans 'Create' %}</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}