{% extends 'base.html' %}

{% load i18n %}
{% load brain_extras %}
{% load humanize %}

{% block content %}
    {% get_dj_list dj list as djlist %}
    <div class="col-md-12">
        <h1>{{ list.title }}</h1>
        {% if not list in dj.lists.all %}
            <div class="alert alert-warning">
                <h4>{% trans 'You do not participate in this party as a DJ!' %}</h4>
                <p><a href="{% url 'list:details:be_a_dj' list_id=list.id %}" class="btn btn-primary">Be a DJ</a></p>
            </div>
        {% else %}
            <h4>{% trans "You're the #" %}{{ djlist.str_order }}</h4>
            <p>
                <a href="{% url 'list:details:add_a_music' list_id=list.id %}" class="btn btn-lg btn-warning">{% trans 'Add a Music' %}</a>
                {% if user.is_authenticated and list.user == user %}<a href="{% url 'list:details:play' list_id=list.id %}" target="_blank" class="btn btn-danger">{% trans 'Play' %}</a>{% endif %}
            </p>
            <hr>
            {% if list.now %}
                <h3 class="text-center">{% trans 'Playing now' %}</h3>
                {% upcoming_render_with_request list.now %}
            {% endif %}
            <h3 class="text-center">{% trans 'Upcoming Music' %}</h3>
            {% for musicinlist in list.upcoming %}
                <div class="row">
                    <div class="col-md-2">
                        <p class="text-right"><strong>{{ musicinlist.added|naturaltime }}</strong><br>DJ {{ musicinlist.djlist.dj.name }} {% trans 'put on the set' %}</p>
                        {% if musicinlist.djlist.dj == dj %}<p class="text-right"><a href="{% url 'list:details:rm_a_music' list_id=list.id music_in_list_id=musicinlist.id %}" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> {% trans 'Remove' %}</a></p>{% endif %}
                        {% if musicinlist.djlist.list.user == user %}<p class="text-right"><button onclick="play({{ musicinlist.id }})" class="btn btn-info"><span class="glyphicon glyphicon-play"></span> Play</button></p>{% endif %}
                    </div>
                    <div class="col-md-10">
                        {{ musicinlist.upcoming_render }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block extra-js %}
    <script type="text/javascript">
        reload = true;
    </script>
{% endblock %}