{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PlayThisMusic - PLAY</title>

    <link href="{% static 'vendor/bower_components/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="full-screen">
<div id="player"></div>

<script src="{% static 'vendor/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/swfobject/swfobject.js' %}"></script>
<script type="text/javascript">
    var $player, now, onYouTubePlayerReady, ytplayer;

    function seconds_update(now_id){
        var seconds;
        if(now && now.id == now_id){
            switch (now.music.type) {
                case 'youtubemusic':
                    var
                            $video = $player.find('.video'),
                            video = $video[0];

                    seconds = parseInt(video.currentTime);
                    break;
                case 'youtubeclassic':
                    seconds = parseInt(ytplayer.getCurrentTime());
                    break;
            }
            $.ajax({
                type: 'POST',
                url: '{% url 'player_api:update_seconds' list_id=list.id %}',
                data: {
                    music_in_list_id: now.id,
                    seconds: seconds
                },
                success: function (data){
                    setTimeout(function () {
                        seconds_update(now.id);
                    }, 750);
                }
            });
        }
    }

    function play(){
        switch (now.music.type){
            case 'youtubemusic':
                var
                        $video = $player.find('.video'),
                        video = $video[0];
                video.play();
                break;
            case 'youtubeclassic':
                ytplayer.playVideo();
                break;
        }
        $.ajax({
            type: 'POST',
            url: '{% url 'player_api:play' list_id=list.id %}',
            data: {
                music_in_list_id: now.id
            },
            success: function (data){}
        });
    }
    function pause(){
        switch (now.music.type){
            case 'youtubemusic':
                var
                        $video = $player.find('.video'),
                        video = $video[0];
                video.pause();
                break;
            case 'youtubeclassic':
                ytplayer.pauseVideo();
                break;
        }
        $.ajax({
            type: 'POST',
            url: '{% url 'player_api:pause' list_id=list.id %}',
            data: {
                music_in_list_id: now.id
            },
            success: function (data){}
        });
    }

    function ended(){
        $.ajax({
            type: 'POST',
            url: '{% url 'player_api:ended' list_id=list.id %}',
            data: {
                music_in_list_id: now.id
            },
            success: function (data){
                playing_now();
            }
        });
    }

    function playing_now(){
        $.ajax({
            type: 'GET',
            url: '{% url 'player_api:index' list_id=list.id %}',
            success: function (data){
                if(data.now){
                    now = data.now;
                    $player.html(data.now.music.player_render);
                    switch (now.music.type){
                        case 'youtubemusic':
                            var
                                    $video = $player.find('.video'),
                                    video = $video[0];

                            $.ajax({
                                type: 'POST',
                                url: '{% url 'player_api:started' list_id=list.id %}',
                                data: {
                                    music_in_list_id: now.id
                                },
                                success: function (data){
                                    play();
                                    seconds_update(now.id);
                                }
                            });

                            video.addEventListener('ended', function (){
                                ended();
                            }, false);
                            break;
                        case 'youtubeclassic':
                            var params = { allowScriptAccess: 'always', scale: 'exactFit' };
                            var atts = { id: 'ytplayer' };
                            swfobject.embedSWF('http://www.youtube.com/v/'+now.music.extra.yt_id+'?enablejsapi=1&playerapiid=ytplayer&version=3', 'ytapiplayer', '100%', '100%', '8', null, null, params, atts);

                            onYouTubePlayerReady = function(playerId){
                                ytplayer = document.getElementById('ytplayer');

                                ytplayer.addEventListener('onStateChange', 'YTClassicOnStateChange');

                                $.ajax({
                                    type: 'POST',
                                    url: '{% url 'player_api:started' list_id=list.id %}',
                                    data: {
                                        music_in_list_id: now.id
                                    },
                                    success: function (data){
                                        ytplayer.seekTo(now.seconds, true);
                                        play();
                                        seconds_update(now.id);
                                    }
                                });
                            };
                            break;
                    }
                } else {
                    $player.html('<h1 class="text-center">{% trans 'without music :(' %}</h1>');
                }
            }
        });
    }

    function YTClassicOnStateChange(e){
        if(e == 0){
            ended();
        }
    }

    $(document).ready(function (){
        var
                player_ws_url = 'ws://'+window.location.hostname+':'+window.location.port+'/ws/listplayer-{{ list.id }}?subscribe-broadcast',
                player_ws = new WebSocket(player_ws_url);

        $player = $('#player');

        player_ws.onmessage = function(e) {
            var data = JSON.parse(e.data);
            switch(data.act){
                case 'playpause':
                    if(data.playing){
                        pause();
                    } else {
                        play();
                    }
                    break;
                case 'playnext':
                    ended();
                    break;
                default:
                    console.log(data);
                    break;
            }
        };
        playing_now();
    });
</script>
</body>
</html>