{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PlayThisMusic</title>

    <link href="{% static 'vendor/bower_components/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">{% trans 'Toggle navigation' %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">PlayThisMusic</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
                <li><a href="{% url 'list:create' %}">{% trans 'Create Music List' %}</a></li>
            {% endif %}
            <li><a href="{% url 'lists' %}">{% trans 'All Lists' %}</a></li>
            <li><a href="{% url 'change_dj' %}">{% trans 'Change your DJ name' %}</a></li>
        </ul>
    </div>
</nav>

{% block content %}{% endblock %}

<script src="{% static 'vendor/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% if list %}
    <script type="text/javascript">
        $(document).ready(function (){
            connect_websocket({{ list.id }});
        });
    </script>
{% endif %}
{% block extra-js %}{% endblock %}
</body>
</html>