{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans 'Change your DJ name' %}</h1>
                {% bootstrap_messages %}
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-block btn-primary">{% trans 'Change' %}</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}