{% load i18n %}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            {% if music.thumbnail %}<div class="col-lg-2 col-md-3"><img src="{{ music.thumbnail.url }}" class="img-responsive"></div>{% endif %}
            <div class="col-lg-10 col-md-9">
                {% if music_in_list %}<h5><strong>DJ {{ music_in_list.djlist.dj.name }}</strong> {% trans 'put on the set' %}</h5>{% endif %}
                <h4>{% if music.title %}{{ music.title }}{% else %}[{{ music.url }}]{% endif %}</h4>
                <p data-YTdebug="{{ music.id }}" class="alert alert-warning">{% if music.debug %}{{ music.debug }}{% endif %}</p>
                {% if music_in_list and music_in_list.started %}
                    <p><span class="glyphicon glyphicon-play"></span> <span data-YTseconds="{{ music_in_list.id }}">{{ music_in_list.seconds_str }}</span>{% if music.duration_str %}/{{ music.duration_str }}{% endif %}</p>
                    {% if music_in_list.djlist.dj == dj or music_in_list.djlist.list.user == user %}
                        <p><button data-YTplaying="{{ music_in_list.id }}" class="btn btn-lg btn-info" onclick="playpausemusic({{ music_in_list.djlist.list.id }})"><span class="playing-icon glyphicon {% if music_in_list.playing %}glyphicon-pause{% else %}glyphicon-play{% endif %}"></span></button> <button class="btn btn-danger" onclick="skipmyturn({{ music_in_list.djlist.list.id }})">{% trans 'Skip my turn' %}</button></p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>